<mat-sidenav #drawer class="sidenav mat-elevation" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

        <div class="top-bar row mr-0">
            <div class="doginho col-sm-2 mt-3 mb-4 ml-2">
                <img src="../assets/img/loog.jpeg" height="110px" width="140px" >
            </div>
        </div>
        <router-outlet></router-outlet>    
</mat-sidenav>