<div class="mt-4 mr-4">
    <div class="row align-items-start">
      <div class="col">
        <mat-card>
            sidenav
        </mat-card>
      </div>
      <div class="addProduto col">
        <mat-card>
          <div class="row">
            <div class="col">
              <div class="container">
                <div class="row">
                  <div class="col">
                      <button mat-icon-button (click)="openDialogCategoria()">
                        GERENTE CATEGORIA
                      </button>
                  </div>
                    <div class="col">
                        <button mat-icon-button (click)="openDialogProduto()">
                        ADICIONAR PRODUTO
                        </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>